
/* Loader-container class: Styles for the loader container */
.loader-container {
    display: flex;
    /* Uses flexbox for layout */
    justify-content: center;
    /* Centers children horizontally */
    align-items: center;
    /* Centers children vertically */
    height: 100px;
    /* Sets a fixed height */
    width: 100%;
    /* Full width of the parent element */
}

/* Loader-background class: Styles for the background of the loader */
.loader-background {
    background-color: rgba(255, 255, 255, 0.8);
    /* Semi-transparent white background */
    border-radius: 10px;
    /* Rounds the corners */
    padding: 20px;
    /* Adds padding */
}
