

/* Modal-overlay class: Styles for the modal background */
.modal-overlay {
    position: fixed;
    /* Fixes the position relative to the viewport */
    top: 0;
    /* Aligns to the top of the viewport */
    left: 0;
    /* Aligns to the left of the viewport */
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    display: flex;
    /* Uses flexbox for centering the modal content */
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    z-index: 1000;
    /* Sets the stack order to be on top of other elements */
}

/* Modal-content class: Styles for the content of the modal */
.modal-content {
    background: #fff;
    /* Sets background color to white */
    padding: 3%;
    /* Adds padding around the content */
    border-radius: 10px;
    /* Rounds the corners */
    position: relative;
    /* Sets the position relative to its normal position */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Adds a subtle shadow effect */
    max-width: 500px;
    /* Sets a maximum width */
    width: 100%;
    /* Full width */
    max-height: 80%;
    /* Sets a maximum height */
    overflow-y: auto;
    /* Allows vertical scrolling */
}

/* Modal-close class: Styles for the close button of the modal */
.modal-close {
    border: none;
    /* Removes the border */
    background: none;
    /* Removes the background */
    cursor: pointer;
    /* Changes the cursor to a pointer to indicate a clickable element */
    color: #333;
    /* Sets the color of the close button */
}

/* Styles for images within the modal content */
.modal-content img {
    border-radius: 8%;
    max-width: 100%;
    /* Images take up the maximum width of their container */
    height: auto;
    /* Height is set automatically to maintain aspect ratio */
}

/* Body-modal-open class: Styles to apply when the modal is open */
.body-modal-open {
    overflow: hidden;
    /* Prevents scrolling on the body when the modal is open */
}
