/* Importing the Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Universal selector: Applies styles to all elements */
*>* {

    font-family: "Poppins", sans-serif;
    /* Sets the default font family to Poppins */
}

/* Root pseudo-class: Defines custom properties (variables) to use throughout the CSS */
:root {
    --color-dark: #2C3131;
    /* Dark color variable for text and backgrounds */
    --color-light: #F3F3F2;
    /* Light color variable for text and backgrounds */
}

/* Main ID: Styles for the main content container */
#main {
    display: flex;
    /* Uses flexbox for layout */
    justify-content: center;
    /* Centers children horizontally */
    align-items: center;
    /* Centers children vertically */
    height: 100%;
    /* Full height of the parent element */
}

/* Board class: Styles for the leaderboard section */
.board {
    text-align: center;
    /* Centers text horizontally */
}

/* Styles for the leaderboard div within the board class */
.board .leaderboard {
    padding: 2%;
    /* Adds padding inside the leaderboard */
}

/* Duration class: Styles for the duration buttons container */
.board .duration {
    display: flex;
    /* Uses flexbox for layout */
    justify-content: center;
    /* Centers buttons horizontally */
    gap: 1em;
    /* Spaces out buttons evenly */
}

/* Styles for buttons within the duration container */
.board .duration>button {
    border: 1px solid var(--color-light);
    /* Sets border color using a variable */
    padding: .5em 2em;
    /* Pads the buttons */
    border-radius: 50px;
    /* Rounds the corners of the buttons */
    background-color: transparent;
    /* Makes buttons transparent */
    cursor: pointer;
    /* Changes the cursor to indicate the buttons are clickable */
}

/* Styles for buttons on hover and the active class */
.board .duration>button:hover,
.active {
    background-color: var(--color-dark);
    /* Dark background on hover/active */
    color: var(--color-light);
    /* Light text on hover/active */
}

/* Profile ID: Styles for the profile section */
#profile {
    margin-top: 3em;
    /* Adds space above the profile section */
}

/* Flex class within the profile ID: Styles for flex containers */
#profile .flex {
    display: flex;
    /* Uses flexbox for layout */
    justify-content: space-between;
    /* Spreads children to start and end of container */
    text-align: left;
    /* Aligns text to the left */
    margin-bottom: 2%;
    /* Adds space below each flex container */
}

/* Item class within the flex container: Styles for individual items */
#profile .flex .item {
    display: flex;
    /* Uses flexbox for layout */
    align-items: center;
    /* Centers children vertically */
}

/* Styles for images within the flex container */
#profile .flex img {
    width: 10%;
    /* Sets image width as a percentage of the container */
    border-radius: 8%;
    /* Rounds the corners of the images */
}

/* Info class within the flex container: Styles for the information section */
#profile .flex .info {
    padding: 1%;
    /* Pads the information section */
}

/* Text-dark class: Styles for dark-colored text */
.text-dark {
    color: var(--color-dark);
    /* Sets the text color using a variable */
}

/* Blue-box class: Styles for elements with a blue background */
.blue-box {
    display: inline-flex;
    /* Uses inline-flex to make the item inline but also a flex container */
    justify-content: center;
    /* Centers children horizontally */
    align-items: center;
    /* Centers children vertically */
    gap: 10px;
    /* Spaces out children */
    padding: 10px 20px;
    /* Pads the container */
    background: #0288D1;
    /* Sets a blue background color */
    color: white;
    /* Sets the text color to white */
    border-radius: 10px;
    /* Rounds the corners */
    margin-right: 10px;
    /* Adds margin to the right */
}
.grid-container {
    margin-bottom: 3%;
    /* Adds margin below the grid container */
    display: grid;
    /* Sets the display to grid for layout */
    grid-template-columns: repeat(3, 1fr);
    /* Defines three columns with equal width */
    gap: 20px;
    /* Sets the gap between grid items */
}
/* Card class: Styles for card elements */
.card {

    width: 90%;
    height: auto;
    padding: 20px;
    /* Adds padding inside the card */
    border: 1px solid #ccc;
    /* Sets a solid border with a light grey color */
    box-shadow: 2px 2px 12px #aaa;
    /* Adds a shadow effect to the card */
}

/* Image-container class: Styles for the container of images */
.image-container {
    width: 30%;
    /* Sets the width of the image container to 30% of its parent element */
    margin: auto;
    /* Centers the container horizontally */
    border: #ccc;
    /* Sets the border color */
}

/* Custom-image class: Styles for custom images */
.custom-image {
    width: 100%;
    /* Images take up the full width of their container */
    height: auto;
    /* Height is set automatically to maintain aspect ratio */
}
/* CSS file */
.top-three-img-size {
    border-radius: 8%;
    width: 200px;
    /* Or any other size */
    height: auto;
    /* Maintains the aspect ratio */
    
}

/* Your styles for the blue box */
.top-three-blue-box-size {
    position: absolute;
    z-index: 10;
    /* Adjust the value as needed */
    display: inline-flex;
    /* Uses inline-flex to make the item inline but also a flex container */
    justify-content: center;
    /* Centers children horizontally */
    align-items: center;
    /* Centers children vertically */
    gap: 10px;
    /* Spaces out children */
    padding: 10px 20px;
    /* Pads the container */
    background: #0288D1;
    /* Sets a blue background color */
    color: white;
    /* Sets the text color to white */
    border-radius: 10px;
    /* Rounds the corners */
    margin-right: 10px;
    /* Adds margin to the right */
}

/* Your styles for the score */
.top-three-score-size {

}